  <ngprj-section-header [title]="'Benvenuti su NGPrj'" [button]="{label: 'Vai ai Progetti', link:'/projects'}">
  </ngprj-section-header>

  <ngprj-card>
    <p data-body>Questa e' la mia prima applicazione Angular</p>
    <p data-footer>Sta proprio prendendo forma!</p>
  </ngprj-card>


  <!-- <ngprj-card>
    <ng-container data-body>
      <ul>
        <li>Test</li>
      </ul>
      <p>Contenuto proiettato</p>
      <p>Contenuto proiettato</p>
      <p>Contenuto proiettato</p>
      <p class="prj">Contenuto proiettato prj</p>
    </ng-container>
    <ng-container data-footer>
      <p>Contenuto figlio di un div</p>
    </ng-container>
  </ngprj-card>
 -->
